#
# pin constraints
#

NET vga_blue[2] LOC = Y21 | IOSTANDARD=LVCMOS33; # "VGA-B1"
NET vga_blue[3] LOC = Y20 | IOSTANDARD=LVCMOS33; # "VGA-B2"
NET vga_blue[4] LOC = AB20 | IOSTANDARD=LVCMOS33; # "VGA-B3"
NET vga_blue[5] LOC = AB19 | IOSTANDARD=LVCMOS33; # "VGA-B4"
NET vga_green[2] LOC = AB22 | IOSTANDARD=LVCMOS33; # "VGA-G1"
NET vga_green[3] LOC = AA22 | IOSTANDARD=LVCMOS33; # "VGA-G2"
NET vga_green[4] LOC = AB21 | IOSTANDARD=LVCMOS33; # "VGA-G3"
NET vga_green[5] LOC = AA21 | IOSTANDARD=LVCMOS33; # "VGA-G4"
NET vga_red[2] LOC = V20 | IOSTANDARD=LVCMOS33; # "VGA-R1"
NET vga_red[3] LOC = U20 | IOSTANDARD=LVCMOS33; # "VGA-R2"
NET vga_red[4] LOC = V19 | IOSTANDARD=LVCMOS33; # "VGA-R3"
NET vga_red[5] LOC = V18 | IOSTANDARD=LVCMOS33; # "VGA-R4"
NET vga_hsync LOC = AA19 | IOSTANDARD=LVCMOS33; # "VGA-HS"
NET vga_vsync LOC = Y19 | IOSTANDARD=LVCMOS33; # "VGA-VS"
